<section class="form-control border-0 container">
{{ form_start(form) }}
    {{ form_widget(form) }}
      <div class="col-12 " >
    <button class="btn btn-primary  size" type="submit">Save</button>
    </div>
{{ form_end(form) }}
</div>
</div>
</section>