<h1 class="tg-filterbale-nav option-set">Statistique Réclamation {{ nbr|raw }}</h1>

<!--************************************
         Points Table Start
 *************************************-->
<div id="tg-pointstable-slider" class="tg-filterbale-nav option-set" id="photo">
    {% block body %}
    <canvas id="monGraph" width="400" height="100" style="max-width: 1000px;max-height:600px;margin-left: 20%;"  ></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js" integrity="sha256-lISRn4x2bHaafBiAb0H5C7mqJli7N0SH+vrapxjIz3k=" crossorigin="anonymous"></script>
    <script>
        let ctx = document.querySelector("#monGraph")
        let graph = new Chart(ctx, {
            type: "pie",
            data: {
                labels: ['Traité','Non Traité'],
                datasets: [{
                    label: 'Nombre de Réclamation selon status ',
                    data: {{ nbr|raw }},
                    backgroundColor: [ 'green','blue', 'yellow',  'purple', 'orange']
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Répartiton entreprise par pays'
                },
                legend: {
                    position: 'bottom'
                }
            }
        })
    </script>


{% endblock %}